#menu > ul > li {
  display: inline;
  margin-left: 1%;
  color: red;
}
#menu {
  margin-bottom: 10px;
}
#menu > ul {
  margin: 0 0 0 0;
  background: blue;
  padding-top: 5px;
  padding-bottom: 5px;
}
#menu > ul > li > ul {
  display: none;
  position: absolute;
  width: 100vw;
  background: gray;
  margin: 0 0 0 0;
}
#menu > ul > li:hover {
  color: orange;
  cursor: pointer;
  position: relative;
}
#menu > ul > li:hover > ul {
  display: block;
}
#menu > ul > li:hover > ul > li {
  display: inline;
  margin-left: 1%;
}
#menu > ul > li > ul > li {
  color: red;
}
#menu > ul > li > ul {
  padding-top: 5px;
}
#menu > ul > li > ul > li:hover {
  color: orange;
}
#left-bar {
  float: left;
  width: 15%;
}
#left-bar > div {
  height: 50px;
  text-align: center;

  margin-top: 10px;
  border: solid 1px blue;
}
#left-bar > img {
  display: block;
  height: 50px;
  text-align: center;
  border: solid 1px blue;
  margin-top: 10px;
  width: 100%;
}
#center-content {
  float: left;
  width: 68%;
  margin-left: 10px;
}
#right-bar {
  float: right;
  width: 15%;
}

#right-bar > img {
  width: 100%;
}
#header > img {
  width: 100%;
}
#footer {
  display: block;
}
#container {
  max-width: 1000px;
  margin: auto;
}
#content {
  height: 1000px;
}

#left-footer {
  float: left;
  text-align: left;
  width: 70%;
  background-color: red;
  height: 80px;
  padding-top: 10px;
  color: white;
}

#right-footer {
  float: right;
  width: 30%;
  text-align: right;
  background-color: red;
  height: 80px;
  padding-top: 10px;
  color: #999999;
}

#anchor {
  position: fixed;
  left: 30px;
  top: 30px;
}
#anchor > li > ul {
  display: none;
  list-style: none;
}

.display-none {
  display: none;
}

.hover-children-display {
  position: relative;
}

.hover-children-display:hover {
  cursor: pointer;
}

.hover-children-display:hover > ul > li {
  display: block;
  position: relative;
  left: 60px;
}

.blue-block {
  background: blue;
  width: 60px;
  height: 20px;
  color: red;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
