
#menu > ul > li {
	display:inline;
	margin-left: 1%;
	color: red;

}
#menu > ul {
	margin: 0 0 0 0;
    background: blue;
    padding-top:10px;
    padding-bottom:10px;
}
#menu > ul > li > ul {
	display: none;
	position: absolute;
	top: 30px;
	width: 100vw;
	background: gray;
	margin: 0 0 0 0;
}
#menu > ul > li:hover {
    color: orange;
    cursor: pointer;
    position: relative;
}
#menu > ul > li:hover > ul {
    display: block;
}
#menu > ul > li:hover > ul > li{
    display: inline;
    margin-left: 1%;
}
#left-bar {
	float: left;
	width: 15%
}
#left-bar > a {
	display: block;
	height: 50px;
	text-align: center;
	margin-top: 10px;
	border: solid 1px blue;
}
#left-bar > img {
	display: block;
	height: 50px;
	text-align: center;
	border: solid 1px blue;
	margin-top: 10px;
	width: 100%;

}
#center-content {
	float: left;
	width: 68%;
	margin-left: 10px;
}
#right-bar {
	float: right;
	width: 15%;
}
#footer {
	display: block;
}