
#menu > ul > li {
	display:inline;
	margin-left: 1%;
	color: red;

}
#menu > ul {
	margin: 0 0 0 0;
    background: blue;
    padding-top:10px;
    padding-bottom:10px;
}
#menu > ul > li > ul {
	display: none;
	position: absolute;
	top: 30px;
	width: 100vw;
	background: gray;
	margin: 0 0 0 0;
}
#menu > ul > li:hover {
    color: orange;
    cursor: pointer;
    position: relative;
}
#menu > ul > li:hover > ul {
    display: block;
}
#menu > ul > li:hover > ul > li{
    display: inline;
    margin-left: 1%;
}